*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

a {
    text-decoration: none;
    color: #000;
}

body {
  font-family: 'Spoqa Han Sans', sans-serif;
}